@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.agenda {
    height: auto;
    background-color: v.$color-primario;
    padding: 25px;
    @include m.flex($align: center);
    flex-direction: column;

    section {
        @include m.flex(center, center);
        flex-direction: column;
    }
}

.agenda__titulo {
    color: v.$color-texto;
    text-align: center;
    margin-bottom: 50px;
}

.agenda__select {
    width: 550px;
    margin-bottom: 50px;
    height: 40px;
    border: none;
    border-radius: 40px;
    padding: 0 20px;
}

.boton--agenda {
    width: 550px;
}