@use "../utilities/variables" as v;

.boton {
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 25px;
    color: v.$color-primario;
    background-color: v.$color-secundario;
    font-size: 17px;
    font-weight: 600;
}