@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.hero {
    background-color: v.$color-primario;
    height: 475px;
    @include m.flex(center, center);
    flex-direction: column;
    gap: 30px;
}

.hero__titulo {
    color: v.$color-secundario;
    font-size: 50px;
}

.hero__texto {
    color: v.$color-secundario;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}