@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;

.footer {
    height: auto;
    width: 100%;
    @include m.flex(center, center);
    padding: 20px 0;
    gap: 15px;
    flex-direction: column
}


.footer__links {
    @include m.flex;
    gap: 15px
}

.footer__links_texto {
    font-weight: 700;
    text-decoration: underline;
}